#topPad {
  padding-top: 120px;
}

.formPad {
  padding-top: 60px;
  padding-bottom: 60px;
}

.extraTopSpace {
  padding-top: 70px;
}

.formWidth {
  max-width: 600px;
}

.formText {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.white {
  color: white;
}

.dark {
  background-color: #202020;
}

#letter-spacing {
  letter-spacing: 10px;
}
