#topPad {
  padding-top: 100px;
  padding-bottom: 60px;
}

.formPad {
  padding-top: 60px;
  padding-bottom: 60px;
}

.formWidth {
  max-width: 600px;
}

.formText {
  color: black;
  font-family: 'Roboto', sans-serif;
}







form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input{
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

textarea.error, input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.name,
.email,
.subject,
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.name,
.email,
.subject,
.message {
  width: 100%;
}

.submitButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton button {
  background-color: #202020;
  color: #fff;
  border: 2px solid #fff;
  width: 20%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  border-radius: 8px;
}

.submitButton button:hover {
  color: ##202020;
  background-color: #000;
}

.submitButton small {
  color: #202020;
  font-weight: lighter;
}
