body, html{
  height: 100%;
  margin: 0;
}

.homeImg {
    background: url("../images/george.jpg");

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links {
  position: absolute;
  bottom: 5px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0%);
}

.extra-space {
  padding-top: 40px;
  padding-bottom: 40px;
}

#aboutPad {
  padding-top: 60px;
  padding-bottom: 20px;
}

.dark-back {
  background-color: #202020
}

#in-line li {
  display: inline;
  padding: 5px;
}

#icon {
  width: 35px;
  height: 35px;
}

.white {
  color: white;
}

.frontTitle {
    letter-spacing: 20px;
}

#letter-spacing {
    letter-spacing: 10px;
}

#centerText {
  text-align: center;
}

.black {
  color: black !important;
}

.tilePad {
  padding: 40px;
}

.landing {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-70%) translateY(-55%);
}

.fullHeight {
  height: 100%;
  margin: 0;
}
