body, html{
  height: 100%;
  margin: 0;
}

.homeImg {
  background: url("../images/george.jpg");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutImg {
  text-align: center;
}

.extra-space {
  /* padding-top: 40px;
  padding-bottom: 40px; */
  padding: 50px;
}

#aboutPad {
  padding-top: 60px;
  padding-bottom: 20px;
}

.dark-back {
  background-color: #202020;
  min-height: 100%;
}

.max-height {
  height: 100vh;
}

.white {
  color: white;
}

.frontTitle {
  letter-spacing: 20px;
}

.landingTitleGap {
  line-height: 1.5;
}

#letter-spacing {
  letter-spacing: 10px;
}

#centerText {
  text-align: center;
}

.black {
  color: black !important;
}

.tilePad {
  padding: 40px;
}

.landing {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-70%) translateY(-55%);
}

.fullHeight {
  height: 100%;
  margin: 0;
}
