.projects-desc {
  padding-top: 150px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.projects-title-pad {
  padding-bottom: 3%;
}

.projects-separate {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.pad-sides {
  padding-left: 10%;
  padding-right: 10%;
}

.patho-border {
  border: 3px solid #DD2C06;
}

.cg-border {
  border-left: 3px solid #000;
}

.lazy-load-image-background.opacity.lazy-load-image-loaded {
  transition: 3s;
}
