.raleway {
  font-family: 'Raleway', sans-serif;
}

.titillium {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 25px;
  line-height: 30px;
}

#letter-spacing {
  letter-spacing: 10px;
}

.center-text {
  text-align: center;
}

.frontTitle {
  letter-spacing: 20px;
}

.landingTitleGap {
  line-height: 1.5;
}

patho {
  color: #DD2C06;
}

burnt-o {
  color: #bf5700;
}

teal {
  color: #43e8c4;
}

purp {
  color: #c160db;
}

blue {
  color: #2ae4f5;
}

a {
  /* no link underlining */
  text-decoration: none !important;
}